ELASTIC_HOST="https://localhost:9200"
ELASTIC_INDEX="companies"
ELASTIC_PASSWORD="gjbU1+mjnj2x7=_Vty*m"
CERT_PATH="./auth_ca.crt"
EMBEDDING_MODEL="BAAI/bge-large-en-v1.5"
# You MUST change vector dimensions in mappings/full.json if your model's dimensions is not 1024